In [34]:
import sys

import sklearn
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
import numpy as np

from sklearn.model_selection import GridSearchCV

from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score



from sklearn.pipeline import FeatureUnion

from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import Imputer

from sklearn.preprocessing import StandardScaler 
from sklearn.feature_extraction.text import TfidfVectorizer

%matplotlib inline



train = pd.read_csv('data/titanic/train.csv', index_col=['PassengerId'])
test = pd.read_csv('data/titanic/test.csv', index_col=['PassengerId'])

In [35]:
test

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...
1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

## разделям тренировачния дата сет

In [36]:
from sklearn.model_selection import train_test_split
train_no_survived = train.drop(labels=['Survived'], axis=1)
train_suvived = train['Survived']



x_train, x_test, y_train, y_test = train_test_split(train_no_survived, 
                                                    train_suvived, 
                                                    test_size=0.3, 
                                                    random_state=4330)

In [37]:
numeric_column_names = x_train.describe().columns
train_no_survived.Age.fillna(0)
train = train_no_survived.fillna("")

In [38]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 495 to 57
Data columns (total 10 columns):
Pclass      623 non-null int64
Name        623 non-null object
Sex         623 non-null object
Age         502 non-null float64
SibSp       623 non-null int64
Parch       623 non-null int64
Ticket      623 non-null object
Fare        623 non-null float64
Cabin       135 non-null object
Embarked    621 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 53.5+ KB

In [39]:

x_train.Embarked.value_counts()

S    444
C    119
Q     58
Name: Embarked, dtype: int64

### създавам трансформатор който енкодва колона и я връща присиединена с оригиналните колони

In [40]:
from sklearn.base import TransformerMixin
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

def encode(categorical_data):
    encoders = {col: LabelEncoder().fit(train[col]) for col in categorical_data.columns}
    categorical_data = categorical_data.fillna("")
    train_encoded = pd.DataFrame({col: encoders[col].transform(categorical_data[col]) for col in categorical_data.columns},
                        index = categorical_data.index)
    oh = OneHotEncoder().fit(train_encoded)
    return oh.transform(train_encoded)
 

class Encode_categorical(TransformerMixin): 
    def __init__(self, *column_names):
        self.column_names = column_names
        
    def fit(self, *_):
        return self

    def transform(self, X, *_):
        #removes columns and replaces them with 
        
        column_names = self.column_names[0]
        
        encoded_df = encode(X[column_names]).todense()
        
        X_clean_columns = X.columns.drop(column_names)
        print(X[X_clean_columns])
    
        print(X_clean_columns)
        return X[X_clean_columns].join(pd.DataFrame(encoded_df))

In [41]:
from sklearn.base import BaseEstimator, TransformerMixin
class ItemSelector(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key

    def fit(self, x, y=None):
        return self

    def transform(self, data_dict):
        return data_dict[[self.key]]

        създаваме селектор който да улесни работата

In [42]:
class BinarizerPipe(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None,**fit_params):
        return self
    def transform(self, X):
        return LabelBinarizer().fit(X).transform(X)

        създавам мои си трансформатор защото  LabelBinarizer - а не има проблеми с pipeline - ове

In [43]:


union = FeatureUnion([
    ('age', Pipeline([
        ('select', ItemSelector('Age')),
        ('imputer', Imputer(strategy='mean')),
        ('scaler', StandardScaler()),
    ])),
    ('name', Pipeline([
            ('select', ItemSelector('Name')),            
            ('vectorize', CountVectorizer()),
    ]))
    
    
])

In [44]:
model = Pipeline([
    ('union', union),
    ('svc', SVC())
])

# Всъщност нямаше нужда от горните глупости и дефиниции ама ме яд да ги изтрия  :Д

## Ше използвам LinearSVC и feature-а Name, който попринцип игнорирахме или box-вах ме.

In [45]:
train = pd.read_csv('data/Titanic/train.csv', index_col=['PassengerId'])
test = pd.read_csv('data/Titanic/test.csv', index_col=['PassengerId'])

from sklearn.model_selection import train_test_split
train_no_survived = train.drop(labels=['Survived'], axis=1)
train_suvived = train['Survived']




pipeline = Pipeline([
    ('features', CountVectorizer()),
    ('clf', LinearSVC())
])
pipeline.fit(x_train["Name"],y_train)
print(pipeline.score(x_train["Name"],y_train))
print(pipeline.score(x_test["Name"],y_test))

1.0
0.80223880597

In [46]:
scores = cross_val_score(pipeline, x_test['Name'], y_test)
print(scores)
print(scores.mean())

[ 0.83333333  0.73333333  0.84090909]
0.802525252525

Изглежда добре сега ще тренираме с целия train sample

In [47]:
pipeline.fit(train_no_survived["Name"],train_suvived)

Pipeline(steps=[('features', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        s...ax_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [48]:
pred = pipeline.predict(test['Name'])

In [49]:
frame = pd.DataFrame({
    'PassengerId': pd.read_csv('data/titanic/test.csv').PassengerId,
    'Survived': pred
})
frame = frame.set_index('PassengerId')
frame.to_csv('predictionsfine.csv')
frame.head()

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1

![img na score](myscore.png "Резултат")

## Което е подобрение от 0.7894 (job's done)